@import '~antd/dist/antd.css';

body {
  text-align: center;
}
.AppBody {
  background: white;
  box-shadow: 0 3px 6px 1px rgba(0,0,0,.08), 0 7px 14px 1px rgba(50,50,93,.1);
  border-radius: 4px;
  font-size: 13px;
  width: 70%;
  margin: 0 auto;  
  padding: 1em;
}

.AppHeader {
  padding: 20px;
}